<div>
  <h1>List Of Movies</h1>
</div>

<div class="panel">
    <div class="panel-heading panel-primary-wrap">
        <div style="float: left;">
            <button routerLink="addmovie"> Add New Movie </button>
        </div>
        <div style="float: right;">
           <div style="width:100%;">
            <div class="input-group" style="width:300px;">
                
                <input type="text" [(ngModel)]='searchText' class="form-control" placeholder="Search by title..." style="float: left;" (ngModelChange)="filterList()">
                <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </span>
            </div>
        </div>
        </div>
        <div style="clear: both;"></div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div *ngIf="movies && movies.length > 0; else noMovies">
                <div class="card col-md-4"
                     *ngFor="let movie of movies">

                    <div class="card-block"  routerLink="movie/{{movie.id}}" >
                        <p><b>Title:</b> {{movie.title | uppercase }}</p>
                        <p class="movie">
                            <img src="assets/imgs/movie.jpg" class="img-responsive img-rounded"
                                 [title]="movie.title" />
                        </p>
                    </div>
                </div>
            </div>
            <ng-template #noMovies>
              <div class="card col-md-4">
                <h2>Movie Not Found </h2>
              </div>              
            </ng-template>
        </div>

    </div>


</div>