 <div class="col-md-8 offset-md-2">
      <h3>Add New Movie</h3>
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
          <div class="form-group">
              <label for="title">Title : </label>
              <input type="text" class="form-control" name="title" [(ngModel)]="movie.title" #title="ngModel" [ngClass]="{ 'is-invalid': f.submitted && title.invalid }" required />
          </div>
          <div class="form-group">
              <label for="Genre">Genre : </label>
              <input type="text" class="form-control" name="Genre" [(ngModel)]="movie.genre" #Genre="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Genre.invalid }" required />
          </div>
          <div class="form-group">
              <label for="year">Release Year : </label>
              <input type="number"  min="1990" max="2019" class="form-control" name="year" [(ngModel)]="movie.year" #year="ngModel" [ngClass]="{ 'is-invalid': f.submitted && year.invalid }" required />
          </div>
          <div class="form-group">
              <label for="rating">Rating : </label>
              <input  type="number" min="1" max="10"  class="form-control" name="rating" [(ngModel)]="movie.rating" #rating="ngModel" [ngClass]="{ 'is-invalid': f.submitted && rating.invalid }" required />
          </div>
          <div class="form-group">
              <button  [disabled]="!f.valid" class="btn btn-primary">Add</button>
          </div>
      </form>
</div>